fastapi
uvicorn
SQLAlchemy
psycopg2
alembic
pydantic
pydantic[email]
pytest
httpx
python-jose[cryptography] 
bcrypt
passlib[bcrypt]
python-multipart
prometheus-fastapi-instrumentator
sentry-sdk[fastapi]
pydantic-settings
pytest-asyncio